<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content contentWidth="100">
  <ion-fab top right edge>
      <button ion-fab mini (click)= "mostraCard()"><ion-icon name="build"></ion-icon></button>
  </ion-fab>
  <ion-card *ngIf ="showCard">
      <ion-card-content>
          <ion-item>
            <ion-label>Ano:</ion-label>
            <ion-select [(ngModel)]="ano">
              <ion-option *ngFor="let ano of anos" [value]="ano">{{ano}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Semana:</ion-label>
            <ion-select [(ngModel)]="semana">
              <ion-option *ngFor="let semana of semanas" [value]="semana">{{semana}}</ion-option>
            </ion-select>
          </ion-item>
      <ion-item>
        <button ion-button small outline (click)="JogosDaSemana(ano, semana)" item-right>GO</button>
      </ion-item>
      </ion-card-content>
    </ion-card>
  <ion-list>
    <ion-item no-lines style="border-bottom: 1px solid lightgray" *ngFor="let jogo of jogos" (click) = "exibeVencedor(jogo)">
      <ion-avatar style="min-width:auto; min-height:auto;" item-start>
        <img style="width:40px; height:auto" [src]="logoTime(jogo.timeCasa)">
      </ion-avatar>
      <div>
        <h3 align="center">{{jogo.timeCasa}} x {{jogo.timeFora}}</h3>
        <p align="center">{{jogo.timeCasaPontuacao}} x {{jogo.timeForaPontuacao}}</p>
      </div>
      <ion-avatar style="min-width:auto; min-height:auto;" item-end>
          <img style="width:40px; height:auto" [src]="logoTime(jogo.timeFora)">
        </ion-avatar>
    </ion-item>
  </ion-list>
</ion-content>