page-login {
    #topo {
        vertical-align: middle;
        width: 100px;
        background: #FFF;

        /* O CSS 3 */
        border-radius: 6px; /* Bordas redondas para quando o CSS3 estiver valendo */
        -webkit-border-radius: 6px;  border-radius: 6px; /* Bordas redondas para Chrome e Safari */

        margin: 0 auto;
    }

    #logo {
        width: 100px;
        position: relative;
    }
}
