<ion-header>
    <ion-navbar>
      <ion-title>Jogos Apostados</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content [class.content-dinamico]="!temJogo" contentWidth="100" text-center>
    <div *ngIf="!temJogo" class="error">
      <ion-avatar>
        <img src="assets/imgs/bighit.png">
      </ion-avatar>
      <p>Ops! Não há jogos apostados já ocorridos.</p>
    </div>
    <ion-list>
      <ion-spinner name="bubbles" *ngIf="carregaJogos"></ion-spinner>
      <ion-item *ngFor="let jogo of jogosApostados">
        <ion-avatar item-start style="min-width:auto; min-height:auto;">
          <img style="width:40px; height:auto;" [src]="jogo.logoTimeApostado">
        </ion-avatar>
        <h5>{{jogo.detalhesJogo}}</h5>
        <p>{{jogo.detalhesAposta}}</p>
      </ion-item>
    </ion-list>
  </ion-content>