.ios, .md {
    page-jogo {
        .item.item-trns {
            border-color: rgba(0, 0, 0, 0);
            background-color: rgba(0, 0, 0, 0);
            color: black;
        }
        .myCustomSelect{
            text-align: center;
            max-width: 100% !important;
            width: 100%;
            font-size: 15px;
        }
        .col-border{
            border: 1px !important;
        }
    }
}