<ion-header>
  <ion-navbar>
    <ion-title>Better NFL</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
      <ion-scroll scrollX="true" style="width:100vw; height:50px">
        <ion-row nowrap>
          <div *ngFor="let semana of semanas">
            <button ion-button small outline (click)="carregaJogosSemana(semana)" item-right>Semana {{semana}}</button>
          </div>
        </ion-row>
      </ion-scroll>
  </ion-toolbar>
</ion-header>

<ion-content contentWidth="100">
  <h3 align="center">
    <ion-spinner name="bubbles" *ngIf="carregouJogos == false"></ion-spinner>
  </h3>
  <ion-list>
    <ion-item no-lines style="border-bottom: 1px solid lightgray" *ngFor="let jogo of jogos"  (click)="exibeDetalhe(jogo)">
      <ion-avatar item-start style="min-width:auto; min-height:auto;">
        <img style="width:40px; height:auto;" [src]="logoTime(jogo.timeCasa)">
      </ion-avatar>
      <div>
        <h3 align="center">{{jogo.timeCasa}} vs {{jogo.timeFora}}</h3>
        <p align="center">{{jogo.timeCasaPontuacao}} vs {{jogo.timeForaPontuacao}}</p>
      </div>
      <ion-avatar item-end style="min-width:auto; min-height:auto;">
        <img style="width:40px; height:auto;" [src]="logoTime(jogo.timeFora)">
      </ion-avatar>
    </ion-item>
  </ion-list>
</ion-content>