.ios, .md {
    page-home {
        button {
            align-items: baseline;
        }
        img {
            width: 40
        }
        ion-spinner * {
            width: 28px;
            height: 28px;
            stroke: #444;
            fill: #222;
          }
    }
}
// .hide, [hidden], template {
//     display: block !important;
// }