page-settings {
    .label-ios {
        margin: 5px 0 5px 0;
    }

    img {
        width:70%;
        height:auto;
        margin-top: 2rem
    }

    .background-settings{
        background: linear-gradient(to bottom, #002244, white 100%)
    }

    .button-settings{
        background: #A5ACAF; 
        color: black
    }
}
