<ion-header>

  <ion-navbar>
    <ion-title>Criar Nova Conta</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding text-center>
  <form (ngSubmit)="cadastraUsuario()">
    <ion-item no-padding>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" (ionBlur)="buscaUsuario()" [(ngModel)]="user.username" name="username"></ion-input>
    </ion-item>
    
    <ion-item no-padding>
      <ion-label floating>E-mail</ion-label>
      <ion-input type="text" [(ngModel)]="user.email" name="email"></ion-input>
    </ion-item>

    <ion-item no-padding>
      <ion-label floating>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="user.password" name="password"></ion-input>
    </ion-item>

    <ion-card>
      <ion-card-header>
         <p (click)="mostraTimes()">Selecione o time favorito </p>
      </ion-card-header>
      <ion-card-content *ngIf ="exibeTimes">
          <ion-item *ngFor="let time of times" (click)="favoritaTime(time)">
              <ion-thumbnail style="min-width:auto; min-height:auto;" item-start>
                  <img style="width:40px; height:auto" [src]="time.logo">
                </ion-thumbnail>
              <p>{{time.nome}}</p>      
          </ion-item>
      </ion-card-content>
      <ion-item *ngIf ="temFavorito">
        <ion-thumbnail style="min-width:auto; min-height:auto;" item-start>
          <img style="width:40px; height:auto" [src]="timeFavorito.logo">
        </ion-thumbnail>
        <p>{{timeFavorito.nome}}</p>
      </ion-item>
    </ion-card>

    <button ion-button full margin-top type="submit">Cadastrar</button>
  </form>
</ion-content>