.ios, .md {
    page-signup {
        button {
            align-items: baseline;
        }
        img {
            align-items: baseline;
            width: 20px;
            height: 20px;
        }
    }
}
